
tr:hover { background-color: #ddf8ff }



div.depth0  { padding-left: 0px;  }
div.depth1  { padding-left: 15px; }
div.depth2  { padding-left: 30px; }
div.depth3  { padding-left: 40px; }
div.depth4  { padding-left: 50px; }
div.depth5  { padding-left: 55px; }
div.depth6  { padding-left: 60px; }
div.depth7  { padding-left: 65px; }
div.depth8  { padding-left: 68px; }
div.depth9  { padding-left: 70px; }



