a.sources_img_link { 
    text-decoration:none;
}

a.sources_img_link img{ 
    border:none 
}

h3 {
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-family: arial,sans-serif;
}

div.path {
    text-align: center;
    font-size: 1.17em;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-family: arial,sans-serif;
}

span.path_delimiter {
    text-align: center;
    padding: 2px;
}

a.path {
    text-decoration: none;
}

a.path:hover{
    background-color: #DED4ED;
}

h5 {
    text-align: center;
    border-bottom: 1px solid;
    font-family: arial,sans-serif;
}

body { font-family: arial, sans-serif; }

/** Repository content informations */

table.sources_table{
    margin-left: auto; 
    margin-right: auto; 
    width: 90%;
    border-collapse:collapse;
    text-align:left;
}

table.lines_table{
    border: 1px solid #BBBBBB;
    border-collapse: collapse;
}

td.sources_table { border:1px solid #BBBBBB; }

td.small_font {
    border:1px solid #BBBBBB;
    font-size: small;
}

td.small_font_center {
    border:1px solid #BBBBBB;
    font-size: small;
    text-align: center;
    padding: 2px;
}

td.small_ifont {
    border:1px solid #BBBBBB;
    font-size: small;
    font-style: italic;
}

td.small_ifont_center {
    border:1px solid #BBBBBB;
    font-size: small;
    font-style: italic;
    text-align: center;
}

td.xsmall_font {
    border:1px solid #BBBBBB;
    font-size: x-small;
}

th.sources_table {
    border:1px solid #BBBBBB;
    color: #53185B;
    background-color:#EEE;
}

tr.folder {
    border: 2px solid #BBBBBB;
    background-color: #DDCAEF;
}

tr.folder:hover { background-color: #F4F4CC; }

tr.odd { background-color: #D5EFDA; }

tr.odd:hover { background-color: #F4F4CC; }

tr.even { background-color: #C2F0CB; }

tr.even:hover { background-color: #F4F4CC; }

td.sources { empty-cells:hide; background-color: #E8E8E8; }

tr.sources { border: 1px solid #BBBBBB; }

pre.left_lines {
    text-align:right;
    padding: 2px;
    background-color: #DEF4F6;
    margin: 0px;
}

pre.right_lines {
    text-align:left;
    padding: 2px;
    background-color: #DEF4F6;
    margin: 0px;
}

div.lines {
    border: 1px solid #BBBBBB;
    float:  left;
    background-color: #DEF4F6;
}

span.line_num { font-weight: 500}

div.source_code{
    border: 1px solid #BBBBBB;
    background-color: #E8E8E8; 
    width: 80%;
    overflow: auto;
    float:left;
}

div.sources_div {
    width:25%;
    float:left;
    border:1px solid #BBBBBB;
    background-color: #EEE;
    text-align:center;
    padding: 3px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

/** File options page */

div.file_version_select{
    border: 1px solid #BBBBBB;
    width: 40%;
    height: 50px;
    background-color: #C8D6D6;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

div.file_diff_select{
    border: 1px solid #BBBBBB;
    width: 40%;
    height: 70px;
    background-color: #C8D6D6;
    font-size:normal;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

/** File diff page */

div.diff {
    border: 1px solid #BBBBBB;
    width: 40%;
    font-size:normal;
    float:left;
    margin-right: 2px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

pre.diff { overflow:auto; }

span.new { background-color: #5CED76 }

span.old { background-color: #F86565 }

span.blank { background-color: #E4D4D4 }

/** File annotate page */

div.annot_author {
    border: 1px solid #BBBBBB;
    font-size:normal;
    float:left;
    padding: 2px;
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
}

div.annot_content {
    border: 1px solid #BBBBBB;
    font-size:normal;
    float:left;
    padding: 2px;
    width: 80%;
    overflow: hidden;
    -moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
}


span.annot:hover {
    font-weight:bold;
}

/** Repository log page */


table.log_links {
    empty-cells:show;
    font-size:small;
    margin-left: auto; 
    margin-right: auto; 
    width: 50%;
    text-align:center;
}

td.middle {
    color: white;
    background-color: #648BD8;
    width: 30%;
}

td.previous_entries_link {
    color: white;
    background-color: #648BD8;
    width: 10%;
    -moz-border-radius: 5px 0px 0px 0px;
    -webkit-border-radius: 5px 0px 0px 0px;
}

td.previous_entries_link:hover {
    background-color: #23296D;
}

td.no_previous_entries {
    color: white;
    background-color: #A49A9A;
    width: 10%;
    -moz-border-radius: 5px 0px 0px 0px;
    -webkit-border-radius: 5px 0px 0px 0px;
}

td.next_entries_link {
    color: white;
    background-color: #648BD8;
    width: 10%;
    -moz-border-radius: 0px 5px 0px 0px;
    -webkit-border-radius: 0px 5px 0px 0px;
}

td.next_entries_link:hover {
    background-color: #23296D;
}

td.no_next_entries {
    color: white;
    background-color: #A49A9A;
    width: 10%;
    -moz-border-radius: 0px 5px 0px 0px;
    -webkit-border-radius: 0px 5px 0px 0px;
}

a.log_link {
    text-decoration:none;
    color:white;
    display:block;
}


/** Syntax highlighting */

pre.color {
    background-color: #E8E8E8;
    padding: 2px;
    margin: 0px;
}

span.color_comment { color: #FF7F00; }

span.color_keyword { color: #66CD00; }

span.color_test { color: #66CDAA; }

span.color_string { color: #FF0033; }

span.color_ucid { color: #DAA520; }

span.color_hex { color: brown; }

span.color_oct { color: brown; }

span.color_bin { color: brown; }

span.color_int { color: brown; }

span.color_delimiter { color: #9932CC; }