
tr:hover { background-color: #ddf8ff }



div.depth0  { padding-left: 0px;  }
div.depth1  { padding-left: 15px; }
div.depth2  { padding-left: 30px; }
div.depth3  { padding-left: 40px; }
div.depth4  { padding-left: 50px; }
div.depth5  { padding-left: 55px; }
div.depth6  { padding-left: 60px; }
div.depth7  { padding-left: 65px; }
div.depth8  { padding-left: 68px; }
div.depth9  { padding-left: 70px; }



div.importance0 { color: #000000; }
div.importance1 { color: #0f0000; }
div.importance2 { color: #280000; }
div.importance3 { color: #3f0000; }
div.importance4 { color: #480000; }
div.importance5 { color: #5f0000; }
div.importance6 { color: #680000; }
div.importance7 { color: #7f0000; }
div.importance8 { color: #880000; }
div.importance9 { color: #9f0000; }
