/** Repository content */

table.sources_table{
    /*border:2px solid #000;*/
    border-collapse:collapse;
    text-align:left;
}

td.sources_table {
    border:1px solid #BBBBBB;
}

td.small_font {
    border:1px solid #BBBBBB;
    font-size: small;
}

td.small_ifont {
    border:1px solid #BBBBBB;
    font-size: small;
    font-style: italic;
}

td.xsmall_font {
    border:1px solid #BBBBBB;
    font-size: x-small;
}

th.sources_table {
    border:1px solid #BBBBBB;
    color: #53185B;
    background-color:#EEE;
}

tr.folder {
    border: 2px solid #BBBBBB;
    background-color: #DDCAEF;
}

tr.odd {
    background-color: #D5EFDA;
}

tr.even {
    background-color: #C2F0CB;
}

tr.sources {
    background-color: #E8E8E8;
}

div.sources_div {
    width:25%;
    /*height:25px;*/
    float:left;
    border:1px solid #BBBBBB;
    background-color: #EEE;
    text-align:center;
    padding: 3px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

div.file_version_select{
    border: 1px solid #BBBBBB;
    width: 40%;
    height: 50px;
    background-color: #C8D6D6;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

div.file_diff_select{
    border: 1px solid #BBBBBB;
    width: 40%;
    height: 70px;
    background-color: #C8D6D6;
    font-size:normal;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}


div.diff {
    border: 1px solid #BBBBBB;
    width: 40%;
    font-size:normal;
    float:left;
    margin-right: 2px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

pre.diff {
    overflow:auto;
}

span.new {
    background-color: #5CED76
}

span.old {
    background-color: #F86565
}

a.sources_img_link img{
    border:none
}

/** Syntax highlighting */

pre.color {
    position:relative;
    /**float:center;*)
    border-style:solid;
    border-width:1px;
    border-color: #3333FF;*/
    width:100%;
    height: 100%;
    background-color: #E8E8E8;
}

span.color_comment {
    color: #FF7F00;
}

span.color_keyword{
    color: #66CD00;
}

span.color_test{
    color: #66CDAA;
}

span.color_string{
    color: #FF0033;
}

span.color_ucid{
    color: #DAA520;
}

span.color_hex{
    color: brown;
}

span.color_oct{
    color: brown;
}

span.color_bin{
    color: brown;
}

span.color_int{
    color: brown;
}

span.color_delimiter{
    color: #9932CC;
}