
div.ocsforge_task_details {
    margin: 15px 5px 15px 5px;
    padding: 5px;
    border: 1px solid #996633;
    border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -khtml-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
}

div.ocsforge_repository_details {
    margin: 15px 5px 15px 5px;
    padding: 5px;
    border: 1px solid #996633;
    border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -khtml-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
}

div.ocsforge_categories_details {
    margin: 15px 5px 15px 5px;
    padding: 5px;
    border: 1px solid #996633;
    border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -khtml-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
}

div.ocsforge_task_message {
    margin: 15px 5px 15px 5px;
    padding: 5px;
    border: 1px solid #996633;
    border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -khtml-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
}
