
tr:hover { background-color: #ddf8ff }



div.depth0  { padding-left: 0px;  }
div.depth1  { padding-left: 15px; }
div.depth2  { padding-left: 30px; }
div.depth3  { padding-left: 40px; }
div.depth4  { padding-left: 50px; }
div.depth5  { padding-left: 55px; }
div.depth6  { padding-left: 60px; }
div.depth7  { padding-left: 65px; }
div.depth8  { padding-left: 68px; }
div.depth9  { padding-left: 70px; }



div.deadline0 { color: #000000; }
div.deadline1 { color: #660000; }
div.deadline2 { color: #882200; }
div.deadline3 { color: #aa4400; }
div.deadline4 { color: #cc6600; }
div.deadline5 { color: #ff8800; }
div.deadline6 { color: #ff6600; }
div.deadline7 { color: #ff4400; }
div.deadline8 { color: #ff2200; }
div.deadline9 { color: #ff0000; }
